@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Lobster+Two&family=Cormorant+Garamond:wght@300&family=Open+Sans:wght@400;500;600;700&family=Racing+Sans+One&family=Rajdhani:wght@500&family=Roboto+Mono:wght@100&display=swap");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Rajdhani", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  opacity: 0.7;
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


.image-box {
  height: 130px;
  width: 130px;
}


.text-family {
 font-family: "Rajdhani", sans-serif;
}

.link-style {
  background-color: rgba(3, 201, 215, 0.8);
  border-left: 5px solid #fff;
  width: 100%;
}

.span-link {
    font-weight: medium;
    font-size: 1.2em;
    font-family: "Rajdhani", sans-serif;
}

.option {
  color: #fff;
  opacity: 1;
  font-weight: bolder;
}


.close-button {
  position: relative;
  right: 1em;
}

.app-close {
  margin-left: 18rem;
}

.hide-median-icon{
  display: none;
}

.select-top {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 60% 20%;
}

.profile-check {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 2em;
}

@media screen and (max-width: 2070px){
  .profile-check {
    justify-content: space-evenly;
  }

}


.select-body {
  min-width: 120px;
  height: 3.9em;
  font-family: "Rajdhani", sans-serif;
}

.input-box {
  height: 3.9em;
}

@media screen and (max-width: 1774px){
  .select-top {
    grid-template-columns: 10% 50% 35%;
  }
}

@media screen and (max-width: 1214px){
  .select-top {
    grid-template-columns: 10% 40% 40%;
  }
}

@media screen and (max-width: 1018px){
  .select-top {
    grid-template-columns: 10% 45% 40%;
  }
}


@media screen and (max-width: 828px){
  .select-top {
    grid-template-columns: 10% 40% 40%;
  }
}


.hide-icon {
  display: block;
}

.show-icon {
  display: none
}


@media screen and (max-width: 1030px){
  .hide-icon {
    display: none;
  }

  .show-icon {
    display: block;
  }

  .app-close {
    margin-left: 0;
    z-index: 99;
  }

  .left-close {
    display: none;
  }

  .hide-median-icon{
    display: block;
  }
}

@media screen and (max-width: 690px){
  .hide-search {
    display: none;
  }

  .select-top {
    display: flex;
    justify-content: center;
  }


  .profile-check {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 348px){
  .profile-check {
    justify-content: flex-start;
  }

  .solomon {
    margin-right: 2em;
  }
}

@media screen and (max-width: 315px){
  .solomon {
    margin-right: 1em;
  }
}



@media screen and (max-width: 297px){
  .solomon {
    margin-right: 0em;
  }

  .image-left {
    height: 42px;
    width: 42px;
  }

  .show-icon {
    margin-top: -3.4em
  }

  .app-container {
    height: 4rem;
  }
}

.hide-show-icon {
  display: none;
}


.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.task-head {
  display: flex;
  justify-content: space-between;
  
}

.agent-container {
  display: grid;
  grid-template-columns: 20% 70% 10%;
}

.new-container {
  display: grid;
  grid-template-columns: 20% 70% 10%;
}
.green-icon {
  color: green;
}

.red-icon {
  color: red;
}

/* 1140px hide task and agents */

.width-container {
  width: 80%;
}

.full-container {
  width: 94%;
}


@media screen and (max-width: 1577px) {
  .width-container {
    width: 77%;
  }

  .full-container{
    width: 100%;
  }
}

@media screen and (max-width: 1279px) {
  .width-container {
    width: 73%;
  }
}

@media screen and (max-width: 1111px) {
  .width-container {
    width: 70%;
  }
}

@media screen and (max-width: 1030px) {
  .width-container {
    width: 100%;
  }
}

.agent-icon {
  margin-right: -10em;
}

.task-closing {
  width: 35%;
}

.agent-closing {
  width: 35%;
}

@media screen and (max-width: 1550px) {
  .task-closing {
    width: 90%;
  }

  .task-z {
    z-index: 9999;
  }

  .agent-y {
    z-index: 100;
  }

  .agent-closing {
    width: 90%;
  }
  .task-y {
    z-index: 100;
  }

  .agent-z {
    z-index: 9999;
  }

  .task-icon-hide {
    visibility: hidden;
  }

  .agent-icon-hide {
    visibility: hidden;
  }
}

@media screen and (max-width: 600px){
  .task-close-bar{
    display: none;
  }

  .agent-close-bar {
    display: none;
  }

  .green-icon {
    font-size: 0.6rem;
  }

   .red-icon {
    font-size: 0.6rem;
  }
  .task-closing {
    width: 96%;
  }
}